<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="utf-8" />
    <title>AngularJS form-validation</title>

    <link rel="stylesheet" href="../src/bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../src/bootstrap/css/bootstrap-theme.min.css" type="text/css" />

    <link rel="stylesheet" href="../dist/angular-form-with-validation.css" type="text/css" />

    <style type="text/css">
        h3 {
            margin-bottom: 50px;
        }

        body {
            padding: 15px;
        }
    </style>
</head>
<body ng-controller="DemoCtrl">
    <h3>Angular form with validation</h3>
    <div class="row">
        <div class="col-md-6">
            <form-area class="form" ng-model="formModel1">
                <form-control control-type="input" control-name="input" control-label="Input"></form-control>
                <form-control control-type="input" control-name="aaaa" control-required="true"></form-control>
                <form-control control-type="input"></form-control>
                <form-control control-type="input"></form-control>
                <form-control control-type="input" control-name="password" control-label="Password" control-input-type="password"></form-control>
            </form-area>
        </div>
        <div class="col-md-6">
            <form-area class="form-horizontal"
                       ng-model="formModel2"
                       form-options="formOptions2"
                       form-validation="formValidation"
                       form-control-class="col-md-6"
                       form-control-label-class="col-md-3">
                <div class="form-body">
                    <form-control control-type="static" control-name="static" control-label="Static"></form-control>
                    <form-control control-type="input" control-name="input" control-label="Input"></form-control>
                    <form-control control-type="input" control-name="inputRequired" control-label="Required" control-required="true"></form-control>
                    <form-control control-type="input" control-name="inputMinlength" control-label="Min Length 6" control-required="true" control-minlength="6"></form-control>
                    <form-control control-type="input" control-name="inputMaxlength" control-label="Max Length 6" control-maxlength="6"></form-control>
                    <form-control control-type="input" control-name="inputPattern" control-label="Number only" control-pattern="/^\d+$/"></form-control>
                    <form-control control-type="input"></form-control>
                    <form-control control-type="input" control-name="blockHelp" control-label="Block Help" control-required="true" control-help="A block of help text."></form-control>
                    <form-control control-type="input" control-name="withIcon" control-label="With Icon" control-required="true" control-icon="right"></form-control>
                    <form-control control-type="input" control-name="withIconLeft" control-label="With Icon Left" control-required="true" control-icon="left"></form-control>
                    <form-control control-type="input" control-name="password" control-label="Password" control-input-type="password"></form-control>
                </div>
                <div class="form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="button" class="btn btn-default" ng-click="reset()">Reset</button>
                        <button type="button" class="btn btn-success" ng-click="submit()">Submit</button>
                    </div>
                </div>
            </form-area>
        </div>
    </div>

    <script type="text/javascript" src="../src/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../src/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../src/angular/angular.min.js"></script>
    <script type="text/javascript" src="../dist/angular-form-with-validation.js"></script>
    <script type="text/javascript" src="demo.js"></script>
</body>
</html>