<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="utf-8" />
    <title>AngularJS form-validation</title>

    <link rel="stylesheet" href="../src/bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../src/bootstrap/css/bootstrap-theme.min.css" type="text/css" />

    <style type="text/css">
        body {
            padding: 15px;
            width: 600px;
        }
    </style>
</head>
<body ng-controller="DemoCtrl">
    <h3>Angular form with validation</h3>
    <form-area class="form-horizontal"
               form-model="formModel"
               form-validation="formValidation"
               form-control-class="col-md-6"
               form-control-label-class="col-md-3">
        <div class="form-body">
            <form-control control-type="static"></form-control>
            <form-control control-type="input"></form-control>
            <form-control control-type="input"></form-control>
        </div>
        <div class="form-actions">
            <div class="col-md-offset-3 col-md-9">
                <button type="button" class="btn btn-default" ng-click="reset()">Reset</button>
                <button type="button" class="btn btn-success" ng-click="submit()">Submit</button>
            </div>
        </div>
    </form-area>

    <script type="text/javascript" src="../src/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../src/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../src/angular/angular.min.js"></script>
    <script type="text/javascript" src="../dist/angular-form-with-validation.js"></script>
    <script type="text/javascript" src="demo.js"></script>
</body>
</html>