<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="utf-8" />
    <title>AngularJS form-validation</title>

    <link rel="stylesheet" href="../src/bootstrap/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="../src/bootstrap/css/bootstrap-theme.min.css" type="text/css" />
    <link rel="stylesheet" href="../src/jstree/themes/default/style.min.css" type="text/css" />

    <link rel="stylesheet" href="../dist/angular-form-with-validation.css" type="text/css" />

    <style type="text/css">
        h3 {
            margin-bottom: 50px;
        }

        body {
            padding: 15px;
        }

        .row > * {
            margin-bottom: 30px;
        }
    </style>
</head>
<body ng-controller="DemoCtrl">
    <h3>Angular form with validation</h3>
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-default" ng-click="toggleFormControlDisabled()">Form Enable / Disable</button>
            <button type="button" class="btn btn-default" ng-click="toggleFormControlReadonly()">Form Writable / Readonly</button>
            <button type="button" class="btn btn-default" ng-click="toggleControlDisabled()">Enable / Disable</button>
            <button type="button" class="btn btn-default" ng-click="toggleControlReadonly()">Writable / Readonly</button>
        </div>
        <div class="col-md-12">
            <h4 class="text-center">Default Form</h4>
            <form-area class="form" ng-model="formModel" 
                       disable-validation="disableValidation"
                       form-control-disabled="formControlDisabled"
                       form-control-readonly="formControlReadonly">
                <form-control control-type="hidden-key" control-name="staticControl"></form-control>
                <form-control control-type="static" control-name="staticControl" control-label="Static Control"></form-control>
                <form-control control-type="input" control-name="input" control-label="Input" control-placeholder="placeholder..."></form-control>
                <form-control control-type="password" control-name="password" control-label="Password" control-placeholder="password..."></form-control>
                <form-control control-type="input" control-name="disabled" control-label="Disabled" control-disabled="controlDisabled"></form-control>
                <form-control control-type="input" control-name="readonly" control-label="Readonly" control-readonly="controlReadonly"></form-control>
                <form-control control-type="input-group" control-name="inputGroup" control-label="Input Group" control-general-options="groupOptions"></form-control>
                <form-control control-type="textarea" control-name="textarea" control-label="Textarea"></form-control>
                <form-control control-type="select" control-name="select" control-label="Select" control-placeholder="Please select..." control-general-options="selectOptions"></form-control>
                <form-control control-type="mutiple-select" control-name="mutipleSelect" control-label="Mutiple Select" control-general-options="selectOptions"></form-control>
                <form-control control-type="radio" control-name="radio" control-label="Radios" control-general-options="radioOptions"></form-control>
                <form-control control-type="checkbox" control-name="checkbox" control-label="Checkbox" control-checkbox-label="Test Options"></form-control>
                <form-control control-type="checkbox-list" control-name="checkboxes" control-label="Checkbox List" control-general-options="checkboxOptions"></form-control>
                <form-control control-type="tree-view" control-name="treeView" control-label="Tree View" control-general-options="treeViewOptions"></form-control>
            </form-area>
        </div>
    </div>
    <!--<div class="col-md-offset-3 col-md-9">
        <button type="button" class="btn btn-default" ng-click="reset()">Reset</button>
        <button type="button" class="btn btn-success" ng-click="submit()">Submit</button>
    </div>-->
    <script type="text/javascript" src="../src/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../src/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../src/angular/angular.min.js"></script>
    <script type="text/javascript" src="../src/checklist-model/checklist-model.js"></script>
    <script type="text/javascript" src="../src/jstree/jstree.min.js"></script>
    <script type="text/javascript" src="../dist/angular-form-with-validation.js"></script>
    <script type="text/javascript" src="demo.js"></script>
</body>
</html>